pytorch/basic_models/lr_model.ckpt
pytorch/basic_models/logr_model.ckpt
pytorch/basic_models/ffnn_model.ckpt
pytorch/basic_models/cnn_model.ckpt
pytorch/basic_models/bilstm_model.ckpt
pytorch/basic_models/lstm_model.ckpt
pytorch/basic_models/resnet.ckpt
pytorch/data/
pytorch/model.ckpt
pytorch/params.ckpt
pytorch/res/__pycache__/
pytorch/res/adder_circuit.png
pytorch/res/car-trailer-k.png
pytorch/res/car-trailer-w.png
pytorch/res/half-adder_circuit.png
pytorch/res/score.png
pytorch/res/win_xp_shutdown.wav
pytorch/res/x-or_circuit.png
pytorch/basic_models/language_model/__pycache__/
pytorch/basic_models/language_model/data/
pytorch/basic_models/language_model/lm_model.ckpt
pytorch/basic_models/language_model/sample.txt
pytorch/basic_models/D.ckpt
pytorch/basic_models/G.ckpt
pytorch/basic_models/gan_samples/
pytorch/basic_models/vae_samples/
pytorch/graph_neural_networks/ogb/dataset/
pytorch/graph_neural_networks/ogb/node/arxiv/__pycache__/
pytorch/graph_neural_networks/ogb/node/arxiv/dataset/
pytorch/graph_neural_networks/dgl/data/
pytorch/graph_neural_networks/graph4nlp/.vector_cache/
pytorch/graph_neural_networks/graph4nlp/examples/
pytorch/graph_neural_networks/graph4nlp/graph4nlp/
pytorch/graph_neural_networks/graph4nlp/stanford-corenlp-4.2.2/
pytorch/graph_neural_networks/graph4nlp/stanford-corenlp-latest.zip
pytorch/graph_neural_networks/py_geo_data/

pytorch/normalizing_flows/__pycache__/
pytorch/normalizing_flows/data.tar.gz
pytorch/normalizing_flows/data/
pytorch/normalizing_flows/datasets/LICENSE.txt
pytorch/normalizing_flows/datasets/README.md
pytorch/normalizing_flows/datasets/__pycache__/
pytorch/normalizing_flows/runs/

tutorials/text_classification/data/
tutorials/text_classification/test_predictions_level_0.csv
tutorials/text_classification/test_predictions_level_1.csv
tutorials/text_classification/train_predictions_level_0.csv
tutorials/text_classification/train_predictions_level_1.csv

leetcodes/test/
leetcodes/res/__pycache__/
leetcodes/res/adder_circuit.png
leetcodes/res/car-trailer-k.png
leetcodes/res/car-trailer-w.png
leetcodes/res/half-adder_circuit.png
leetcodes/res/score.png
leetcodes/res/win_xp_shutdown.wav
leetcodes/res/x-or_circuit.png

papercodes/gcn/gcn_origin/tensorflow/__pycache__/
papercodes/gcn/gcn_origin/pytorch/__pycache__/

papercodes/gcn/dropedge/runs/
papercodes/gcn/dropedge/src/__pycache__/
papercodes/gcn/dropedge/tmpmodel/

papercodes/gcn/dynamicgcn/__pycache__/
papercodes/gcn/dynamicgcn/data/
papercodes/gcn/dynamicgcn/model/
papercodes/gcn/dynamicgcn/tensorboard/

papercodes/gcn/tensorgcn/TGCN_2layers/__pycache__/
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.adj
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.adj1
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.adj2
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.allx
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.ally
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.tx
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.ty
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.x
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/ind.mr.y
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/mr.real_train.name
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/mr.test.index
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/mr.train.index
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/mr_best_models/
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/mr_doc_shuffle.txt
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/mr_labels.txt
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/mr_vocab.txt
papercodes/gcn/tensorgcn/data_tgcn/mr/build_train/mr_word_shuffle.txt

papercodes/gcn/textgcn/__pycache__/
papercodes/gcn/textgcn/data/20ng.real_train.name
papercodes/gcn/textgcn/data/20ng.test.index
papercodes/gcn/textgcn/data/20ng.train.index
papercodes/gcn/textgcn/data/20ng_doc_vectors.txt
papercodes/gcn/textgcn/data/20ng_shuffle.txt
papercodes/gcn/textgcn/data/20ng_word_vectors.txt
papercodes/gcn/textgcn/data/corpus/20ng.clean.txt
papercodes/gcn/textgcn/data/corpus/20ng_labels.txt
papercodes/gcn/textgcn/data/corpus/20ng_shuffle.txt
papercodes/gcn/textgcn/data/corpus/20ng_vocab.txt
papercodes/gcn/textgcn/data/ind.20ng.adj
papercodes/gcn/textgcn/data/ind.20ng.allx
papercodes/gcn/textgcn/data/ind.20ng.ally
papercodes/gcn/textgcn/data/ind.20ng.tx
papercodes/gcn/textgcn/data/ind.20ng.ty
papercodes/gcn/textgcn/data/ind.20ng.x
papercodes/gcn/textgcn/data/ind.20ng.y

papercodes/gcn/text_level_gnn/embedding_size=300,p=3,min_freq=2,max_length=70,dropout=0.0,lr=0.001,lr_decay_factor=0.9,lr_decay_every=5,weight_decay=0.0001,warm_up_epoch=0,early_stopping_patience=10,early_stopping_criteria=loss,epoch=300.csv
papercodes/gcn/text_level_gnn/embeddings/glove.6B.100d.txt
papercodes/gcn/text_level_gnn/embeddings/glove.6B.100d.txt.pt
papercodes/gcn/text_level_gnn/embeddings/glove.6B.200d.txt
papercodes/gcn/text_level_gnn/embeddings/glove.6B.200d.txt.pt
papercodes/gcn/text_level_gnn/embeddings/glove.6B.300d.txt
papercodes/gcn/text_level_gnn/embeddings/glove.6B.300d.txt.pt
papercodes/gcn/text_level_gnn/embeddings/glove.6B.50d.txt
papercodes/gcn/text_level_gnn/embeddings/glove.6B.50d.txt.pt
papercodes/gcn/text_level_gnn/embeddings/glove.6B.zip

papercodes/anomaly_detection/cvdd/data/
papercodes/anomaly_detection/cvdd/log/
papercodes/anomaly_detection/cvdd/src/__pycache__/
papercodes/anomaly_detection/cvdd/src/base/__pycache__/
papercodes/anomaly_detection/cvdd/src/datasets/__pycache__/
papercodes/anomaly_detection/cvdd/src/networks/__pycache__/
papercodes/anomaly_detection/cvdd/src/optim/__pycache__/
papercodes/anomaly_detection/cvdd/src/utils/__pycache__/
papercodes/anomaly_detection/cvdd/src/utils/visualization/__pycache__/

papercodes/flows/categoricalnf/experiments/language_modeling/__pycache__/
papercodes/flows/categoricalnf/experiments/language_modeling/data/penn-treebank/
papercodes/flows/categoricalnf/experiments/language_modeling/data/text8/
papercodes/flows/categoricalnf/experiments/language_modeling/datasets/__pycache__/
papercodes/flows/categoricalnf/general/__pycache__/
papercodes/flows/categoricalnf/layers/categorical_encoding/__pycache__/
papercodes/flows/categoricalnf/layers/flows/__pycache__/
papercodes/flows/categoricalnf/layers/networks/__pycache__/

papercodes/flows/df/discrete_flows/__pycache__/
papercodes/flows/df/figures/

papercodes/flows/idf/coding/__pycache__/
papercodes/flows/idf/models/__pycache__/
papercodes/flows/idf/optimization/__pycache__/
papercodes/flows/idf/snapshots/
papercodes/flows/idf/utils/__pycache__/

papercodes/flows/textflow/__pycache__/
papercodes/flows/textflow/data/indep_bernoulli/.gitignore
papercodes/flows/textflow/data/indep_bernoulli/__pycache__/
papercodes/flows/textflow/output/

papercodes/recommendation_system/mamo/__pycache__/
papercodes/recommendation_system/mamo/data_processed/
papercodes/recommendation_system/mamo/data_raw/ml-1m/ml-1m.zip
papercodes/recommendation_system/mamo/data_raw/ml-1m/movies.dat
papercodes/recommendation_system/mamo/modules/__pycache__/
papercodes/recommendation_system/mamo/prepare_data/__pycache__/

tensorflow/recommendation_system/CTR/__pycache__/        
tensorflow/recommendation_system/CTR/amazon_checkpoint/        
tensorflow/recommendation_system/CTR/const/__pycache__/
tensorflow/recommendation_system/CTR/data/amazon/amazon_train.tfrecords
tensorflow/recommendation_system/CTR/data/amazon/amazon_valid.tfrecords
tensorflow/recommendation_system/CTR/data/amazon/dataset.pkl
tensorflow/recommendation_system/CTR/data/amazon/meta.pkl
tensorflow/recommendation_system/CTR/data/amazon/meta_Electronics.json
tensorflow/recommendation_system/CTR/data/amazon/remap.pkl
tensorflow/recommendation_system/CTR/data/amazon/reviews.pkl
tensorflow/recommendation_system/CTR/data/amazon/reviews_Electronics_5.json
tensorflow/recommendation_system/CTR/model/DIN/__pycache__/
tensorflow/recommendation_system/CTR/model/MMOE/__pycache__/
tensorflow/recommendation_system/CTR/model/MMOEBIAS/__pycache__/
tensorflow/recommendation_system/CTR/data/amazon/amazon_train_small.tfrecords
tensorflow/recommendation_system/CTR/data/amazon/amazon_valid_small.tfrecords
tensorflow/recommendation_system/CTR/data/amazon/dataset_small.pkl
tensorflow/recommendation_system/CTR/data/amazon/amazon_train_small_group.tfrecords
tensorflow/recommendation_system/CTR/data/amazon/amazon_valid_small_group.tfrecords
tensorflow/recommendation_system/CTR/data/amazon/dataset_small_group.pkl
tensorflow/recommendation_system/CTR/model/STAR/__pycache__/
tensorflow/recommendation_system/CTR/model/UBC/__pycache__/
tensorflow/recommendation_system/CTR/data/ml-20m.zip
tensorflow/recommendation_system/CTR/data/movielens/dataset.pkl        
tensorflow/recommendation_system/CTR/data/movielens/meta.pkl        
tensorflow/recommendation_system/CTR/data/movielens/movielens_train.tfrecords        
tensorflow/recommendation_system/CTR/data/movielens/movielens_valid.tfrecords        
tensorflow/recommendation_system/CTR/data/movielens/movies.csv        
tensorflow/recommendation_system/CTR/data/movielens/ratings.csv
tensorflow/recommendation_system/CTR/data/movielens/ratings.pkl
tensorflow/recommendation_system/CTR/data/movielens/remap.pkl
tensorflow/recommendation_system/CTR/model/UserLoss/__pycache__/
tensorflow/recommendation_system/CTR/model/Bias/__pycache__/        
tensorflow/recommendation_system/CTR/model/MOE/__pycache__/
tensorflow/recommendation_system/CTR/model/Star/__pycache__/
tensorflow/recommendation_system/CTR/model/UserCluster/__pycache__/
tensorflow/recommendation_system/CTR/model/UserInput/__pycache__/
tensorflow/recommendation_system/CTR/movielens_checkpoint/
tensorflow/recommendation_system/CTR/model/UserRecognition/__pycache__/
tensorflow/recommendation_system/CTR/model/UserSparseExpert/__pycache__/
tensorflow/recommendation_system/CTR/model/UserPerExpert/__pycache__/

pytorch/natural_language_processing/text_modeling/__pycache__/
pytorch/natural_language_processing/text_modeling/checkpoints/
pytorch/natural_language_processing/text_modeling/data/
pytorch/natural_language_processing/text_modeling/datasets/__pycache__/
pytorch/natural_language_processing/text_modeling/discrete_flows/__pycache__/

pytorch/natural_language_processing/text_anomaly_detection/data/        
pytorch/natural_language_processing/text_anomaly_detection/log/        
pytorch/natural_language_processing/text_anomaly_detection/src/__pycache__/        
pytorch/natural_language_processing/text_anomaly_detection/src/base/__pycache__/        
pytorch/natural_language_processing/text_anomaly_detection/src/datasets/__pycache__/        
pytorch/natural_language_processing/text_anomaly_detection/src/networks/__pycache__/
pytorch/natural_language_processing/text_anomaly_detection/src/optim/__pycache__/
pytorch/natural_language_processing/text_anomaly_detection/src/utils/__pycache__/
pytorch/natural_language_processing/text_anomaly_detection/src/utils/visualization/__pycache__/